body, div {
  font-family: 'Source Sans Pro', sans-serif;
}

/* Override the default styles for .navbar-brand */
.navbar-brand {
  color: inherit; /* Use the default text color (usually black or dark gray) */
  text-decoration: none; /* Remove underlines on the link */
}


.row {
  margin-right: 0px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.groupTitle {
  color:#6c757d;
  font-size: 20px;
  font-weight: 700;
  margin-left: -15px;
}

.formZone {
  background-color: #e3e6e9;
  padding-top:20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #d7d2d2;
}

.statusZone {
  background-color: #fffeeb;
  padding-top:20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #d7d2d2;
}

.smallInput {
  width: 60%;
}

.statusLabel {
  font-size: 22px;
}

.labelBold {
  font-weight: bold;
  margin-bottom: 0.1rem
}

.imgPreview {
  border: 1px solid #afafaf;
  width: 180px;
  padding: 6px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 3px #b3acac;
}
